<%- include('./partials/head') %>
<%- include('./components/navbar') %>
<main class="flex flex-col gap-4 lg:ml-64 lg:pl-4 lg:w-75% mt-6 mx-4 mb-12">

		Welcome Dashboard
		
</main>
<%- include('./partials/footer') %>