    <footer>
        <div class="py-4">
            <div class="container flex justify-center items-center text-center md:text-start">
                <p class="text-base font-medium text-default-800 text-center">
                    © <script>document.write(new Date().getFullYear())</script>
                    <%= jsonData.footer.company %> - <a href="#"><%= jsonData.footer.copyright %></a>
                </p>
            </div>
        </div>
    </footer>
    <div class="fixed bottom-5 end-5 flex flex-col gap-1 items-center z-[1000]">
        <button class="h-10 w-10 bg-primary/20 backdrop-blur-3xl rounded-full text-primary flex justify-center items-center transition-all duration-500 translate-x-16 shadow-[inset_0px_0px_12px_0px] shadow-primary/40 z-10 " data-toggle="back-to-top">
            <i class="h-4 w-4" data-lucide="chevron-up"></i>
        </button>
        <button class="bg-primary text-white rounded-lg z-20">
            <span class="h-9 w-9 flex justify-center items-center"  id="light-theme">
                <i class="h-5 w-5" data-lucide="moon"></i>
            </span>
            <span class="h-9 w-9 flex justify-center items-center" id="dark-theme">
                <i class="h-5 w-5" data-lucide="sun"></i>
            </span>
        </button>
    </div>