	<nav class="fixed w-full bg-slate-800 border-b border-slate-700 top-0 z-50">
        <div class="flex justify-between items-center px-9 py-5">
            <button id="menuBtn" class="lg:hidden">
                <i class="fas fa-bars text-slate-100 text-lg"></i>
            </button>
            <a href="/admin" class="hidden lg:flex gap-2 items-center font-bold text-2xl lg:text-3xl text-gray-100">
                <img class="h-12 w-12" src="/images/logo/logo.png">
				HyTech
            </a>
			<div class="flex gap-2 items-center">
				<div class="space-x-4">
					<a href="/" class="flex items-center gap-2 bg-slate-700 py-2 px-4 rounded-lg hover:bg-slate-900" target="_blank">
						<i class="fas fa-eye text-slate-100 text-lg"></i> View
					</a>
				</div>
				<div class="space-x-4">
					<a href="/logout" class="flex items-center gap-2 bg-slate-700 py-2 px-4 rounded-lg hover:bg-slate-900">
						<i class="fas fa-sign-out text-rose-600 text-lg"></i>
					</a>
				</div>
			</div>
        </div>
    </nav>
    <div id="sideNav" class="px-4 pt-9 lg:block hidden bg-slate-800 w-64 h-screen fixed rounded-none border-none">
        <div class="text-gray-200">
			<a href="/admin" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa fa-home"></i>
                <span class="-mr-1 font-medium">Dashboard</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/seo" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span class="-mr-1 font-medium">SEO</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/header" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa-solid fa-bars-staggered"></i>
                <span class="-mr-1 font-medium">Header</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/hero" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
               <i class="fa-solid fa-table-columns"></i>
                <span class="-mr-1 font-medium">Hero</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/partners" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa fa-gear"></i>
                <span class="-mr-1 font-medium">Partners</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/featured" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa-brands fa-font-awesome"></i>
                <span class="-mr-1 font-medium">Featured</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/about" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa-solid fa-circle-info"></i>
                <span class="-mr-1 font-medium">About</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/services" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa-solid fa-shield"></i>
                <span class="-mr-1 font-medium">Services</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/testimonial" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa-solid fa-envelope"></i>
                <span class="-mr-1 font-medium">Testimonial</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/faq" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa-solid fa-circle-question"></i>
                <span class="-mr-1 font-medium">FAQ</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/cta" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa-solid fa-rectangle-list"></i>
                <span class="-mr-1 font-medium">CTA</span>
            </a>
        </div>
        <div class="text-gray-200 mt-2">
			<a href="/admin/footer" class="px-4 py-2 flex items-center space-x-4 rounded-md group hover:bg-slate-700">
                <i class="fa-solid fa-shoe-prints"></i>
                <span class="-mr-1 font-medium">Footer</span>
            </a>
        </div>
    </div>