    <footer class="fixed w-full bottom-0 w-full z-50 bg-slate-800 border-t border-slate-700">
        <p class="py-2 text-center text-sm">
            © <script>document.write(new Date().getFullYear())</script>
			<%= jsonData.footer.company %> - <a href="#"><%= jsonData.footer.copyright %></a>
        </p>
    </footer>

    <script src="/js/admin_main.js"></script>
</body>
</html>
